* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

body {
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 10px 1px #000;
  margin-bottom: 6px;
}

header ul li {
  padding: 5px;
}

header ul li a {
  transition: 300ms;
}

header ul li a:hover {
  color: rgb(91, 181, 184);
  text-decoration: underline;
}

header ul li:hover {
  transform: scale(1.1);
}

#destaque-pagina-imagem {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  text-indent: -9999px;
  position: relative;
  overflow: hidden;
}

#info-principal {
  display: flex;
  justify-content: flex-start;
}

#main-principal {
  background-color: #005162;
  width: 100%;
  max-width: 450px;
  margin: 80px 0 0 0;
  padding: 30px 50px 70px 50px;
  box-sizing: border-box;
  position: relative;
}
.post {
  font-size: 10px;
  text-align: center;
  position: relative;
  float: left;
}
footer {
  box-shadow: 1px 1px 10px 1px #000;
}
