* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

body {
  background-repeat: no-repeat;
}

header {
  box-shadow: 1px 1px 10px 1px #000;
  margin-bottom: -45px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-bottom: 50px;
}

.caixa {
  width: 940px;
  position: relative;
  align-items: center;
}

header ul li {
  padding: 5px;
  color: #575757;
}

header ul li a {
  transition: 300ms;
  font-size: 1.5rem;
}

header ul li a:hover {
  color: rgb(91, 181, 184);
  text-decoration: underline;
}
header ul li:hover {
  transform: scale(1.1);
}

#img-principal {
  width: 100%;
  max-width: 1280px;
}

#destaque-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

h1 {
  width: 100%;
  color: #005162;
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1em;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  padding-top: 20px;
}

p {
  width: 100%;
  color: #575757;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.173em;
  letter-spacing: 0.4px;
  padding: 20px 10px 20px 10px;
  position: relative;
  text-align: center;
}

#servicos-oferecidos {
  background-color: #005162;
  text-align: center;
  position: relative;
  float: right;
  padding: 100px 0 100px 0;
  width: 100%;
  max-width: 1280px;
}

#servicos-conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1280px;
  font-size: 4rem;
}

.destino-titulo {
  color: #005162;
  font-family: HolidayFreeRegular;
  font-size: 3.5rem;
  line-height: 1em;
  position: relative;
  float: left;
  z-index: 1;
  width: 100%;
  max-width: 1280px;
}

#titulo-destino {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 60px 25px 20px;
  font-size: 2rem;
}

.todos-destinos {
  width: 90%;
  max-width: 1280px;
}

.nacional-titulo {
  padding: 40px 10px 25px 20px;
  color: #005162;
  font-family: HolidayFreeRegular;
  font-size: 2.5rem;
  line-height: 1em;
}

#destinos-nacionais {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-gap: 10px;
  width: 100%;
  max-width: 1280px;
}

.wrapper {
  font-family: sans-serif;
  margin: 0 auto;
  position: relative;
}

img {
  opacity: 1;
  display: block;
  width: auto;
  height: auto;
  transition: 0.5s ease;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 12px;
  white-space: nowrap;
  color: #000;
  overflow: hidden;
  margin-top: 90px;
}

.content a {
  font-size: 15px;
  display: block;
  background-color: #005162;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.overlay {
  opacity: 0;
}

.wrapper:hover img {
  opacity: 0.5;
}

.wrapper:hover .overlay {
  opacity: 1;
}

.internacional-titulo {
  padding: 40px 10px 25px 20px;
  color: #005162;
  font-family: HolidayFreeRegular;
  font-size: 2.5rem;
  line-height: 1em;
}

#destinos-internacionais {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-gap: 10px;
  width: 100%;
  max-width: 1280px;
}

.destino-item-titulo {
  width: 100%;
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 2.4em;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: uppercase;
  left: 0;
  bottom: 40px;
  padding: 0 25px 0 25px;
  box-sizing: border-box;
  position: absolute;
}

footer {
  box-shadow: 1px 1px 10px 1px #000;
  color: #7b7b7b;
  display: flex;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1em;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

@media (max-width: 1024px) {
  html {
    font-size: 58%;
  }
}
