* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

body {
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px #000;
  margin-bottom: 55px;
}

.caixa {
  width: 940px;
  position: relative;
  align-items: center;
}

header ul li {
  padding: 5px;
}

header ul li a {
  transition: 300ms;
}

header ul li a:hover {
  color: rgb(91, 181, 184);
  text-decoration: underline;
}
header ul li:hover {
  transform: scale(1.1);
}

.img-principal {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  text-indent: -9999px;
  position: relative;
  float: left;
  overflow: hidden;
}

#destaque-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#conteudo-destaque {
  width: calc(100% - 300px);
  text-align: left;
  padding: 20px 0 0 70px;
  box-sizing: border-box;
  position: relative;
  float: right;
}

h1 {
  width: 100%;
  color: #005162;
  font-family: Lato, sans-serif;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

p {
  width: 100%;
  color: #575757;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.173em;
  letter-spacing: 0.4px;
  padding: 30px 0 80px 0;
  position: relative;
  text-align: center;
}

#servicos-oferecidos {
  background-color: #005162;
  width: 100%;
  text-align: center;
  position: relative;
  float: right;
  padding: 100px 0 100px 0;
}

#servicos-conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.destino-titulo {
  color: #005162;
  font-family: HolidayFreeRegular;
  font-size: 2em;
  line-height: 1em;
  position: relative;
  float: left;
  z-index: 1;
}

#titulo-destino {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 0 25px 0;
}

.nacional-titulo {
  color: #3990a1;
  font-family: HolidayFreeRegular;
  font-size: 2em;
  line-height: 1em;
  position: relative;
  z-index: 1;
  padding: 0 0 10px 0;
}
#destinos-nacionais {
  display: flex;
}

.wrapper {
  font-family: sans-serif;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

img {
  opacity: 1;
  display: block;
  width: auto;
  height: auto;
  transition: 0.5s ease;
  padding-top: 30px;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 12px;
  white-space: nowrap;
  color: #000;
  overflow: hidden;
  margin-top: 90px;
}

.content a {
  font-size: 15px;
  display: block;
  background-color: #005162;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.overlay {
  opacity: 0;
}

.wrapper:hover img {
  opacity: 0.5;
}

.wrapper:hover .overlay {
  opacity: 1;
}
#destinos-coluna-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 26.549%;
  font-size: 10px;
  position: relative;
  float: left;
}

#destinos-coluna-2 {
  width: 46.902%;
  padding: 0 15px 0px 15px;
  box-sizing: border-box;
}

#destinos-coluna-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 26.549%;
  font-size: 10px;
  position: relative;
  float: left;
}

.internacional-titulo {
  color: #3990a1;
  font-family: HolidayFreeRegular;
  font-size: 2em;
  line-height: 1em;
  position: relative;
  z-index: 1;
  padding: 60px 0 10px 0;
}
#destinos-internacionais {
  display: flex;
}

#destinos-inter-coluna-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 26.549%;
  font-size: 10px;
  position: relative;
  float: left;
}

#destinos-inter-coluna-2 {
  width: 46.902%;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}

#destinos-inter-coluna-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 26.549%;
  font-size: 10px;
  position: relative;
  float: left;
}

.destino-item-titulo {
  width: 100%;
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 2.4em;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: uppercase;
  left: 0;
  bottom: 40px;
  padding: 0 25px 0 25px;
  box-sizing: border-box;
  position: absolute;
}

footer {
  box-shadow: 1px 1px 10px 1px #000;
  color: #7b7b7b;
  display: flex;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 10px;
  line-height: 1em;
  justify-content: center;
  padding: 10px;
}
